resale vlaue prediction.json
[{"id":"dca81981.619c88","type":"ui_form","z":"7dafb4c.a202b4c","name":"Input","label":"FACTORS","group":"1327c703.3f1799","order":3,"width":0,"height":0,"options":[{"label":"datecrawled","value":"dc","type":"text","required":true,"rows":null},{"label":"name","value":"na","type":"text","required":true,"rows":null},{"label":"seller","value":"sl","type":"text","required":true,"rows":null},{"label":"offertype","value":"ot","type":"text","required":true,"rows":null},{"label":"abtest","value":"at","type":"text","required":true,"rows":null},{"label":"vehicletype","value":"vt","type":"text","required":true,"rows":null},{"label":"yearofregistration","value":"yr","type":"number","required":true,"rows":null},{"label":"gearbox","value":"gb","type":"text","required":true,"rows":null},{"label":"powerps","value":"pp","type":"number","required":true,"rows":null},{"label":"model","value":"mo","type":"text","required":true,"rows":null},{"label":"kilometer","value":"kl","type":"number","required":true,"rows":null},{"label":"monthofregistration","value":"mr","type":"number","required":true,"rows":null},{"label":"fueltype","value":"fl","type":"text","required":true,"rows":null},{"label":"brand","value":"br","type":"text","required":true,"rows":null},{"label":"notrepaireddamage","value":"nd","type":"text","required":true,"rows":null},{"label":"datecreated","value":"dt","type":"text","required":true,"rows":null},{"label":"noofpictures","value":"np","type":"number","required":true,"rows":null},{"label":"postalcode","value":"pc","type":"number","required":true,"rows":null},{"label":"lastseen","value":"ls","type":"text","required":true,"rows":null}],"formValue":{"dc":"","na":"","sl":"","ot":"","at":"","vt":"","yr":"","gb":"","pp":"","mo":"","kl":"","mr":"","fl":"","br":"","nd":"","dt":"","np":"","pc":"","ls":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":150,"y":100,"wires":[["eefa5b77.b12f88"]]},{"id":"c1038f94.7f233","type":"http request","z":"7dafb4c.a202b4c","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://us-south.ml.cloud.ibm.com/v4/deployments/56541f9c-0959-4c00-acd5-ea5c4e65f3bd/predictions","tls":"","persist":false,"proxy":"","authType":"","x":370,"y":180,"wires":[["ef520513.ae06e8","26e421d5.05839e"]]},{"id":"26e421d5.05839e","type":"function","z":"7dafb4c.a202b4c","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":260,"wires":[["37b4620.f486b9e"]]},{"id":"eefa5b77.b12f88","type":"function","z":"7dafb4c.a202b4c","name":"PreToken","func":"global.set(\"dc\",msg.payload.dc)\nglobal.set(\"na\",msg.payload.na)\nglobal.set(\"sl\",msg.payload.sl)\nglobal.set(\"ot\",msg.payload.ot)\nglobal.set(\"at\",msg.payload.at)\nglobal.set(\"vt\",msg.payload.vt)\nglobal.set(\"yr\",msg.payload.yr)\nglobal.set(\"gb\",msg.payload.gb)\nglobal.set(\"pp\",msg.payload.pp)\nglobal.set(\"mo\",msg.payload.mo)\nglobal.set(\"kl\",msg.payload.kl)\nglobal.set(\"mr\",msg.payload.mr)\nglobal.set(\"fl\",msg.payload.fl)\nglobal.set(\"br\",msg.payload.br)\nglobal.set(\"nd\",msg.payload.nd)\nglobal.set(\"dt\",msg.payload.dt)\nglobal.set(\"np\",msg.payload.np)\nglobal.set(\"pc\",msg.payload.pc)\nglobal.set(\"ls\",msg.payload.ls)\nvar apikey=\"vCdH_3HFbV9I2g2EzMZruXheiAZJDczsZMoqcucX6Ag2\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"x":140,"y":180,"wires":[["74cdb47c.ce820c"]]},{"id":"9279a09c.7adcb","type":"function","z":"7dafb4c.a202b4c","name":"PrePrediction","func":"var dc = global.get('dc')\nvar na = global.get('na')\nvar sl = global.get('sl')\nvar ot = global.get('ot')\nvar at = global.get('at')\nvar vt = global.get('vt')\nvar yr = global.get('yr')\nvar gb = global.get('gb')\nvar pp = global.get('pp')\nvar mo = global.get('mo')\nvar kl = global.get('kl')\nvar mr = global.get('mr')\nvar fl = global.get('fl')\nvar br = global.get('br')\nvar nd = global.get('nd')\nvar dt = global.get('dt')\nvar np = global.get('np')\nvar pc = global.get('pc')\nvar ls = global.get('ls')\nvar token=msg.payload.access_token\nvar instance_id=\"fddb6f3d-f87e-4a5a-b76c-9b1dc1eb873a\"\nmsg.headers={'Content-Type': 'application/json', 'Authorization': 'Bearer ' + token, 'ML-Instance-ID':instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"dateCrawled\", \"name\", \"seller\", \"offerType\", \"abtest\", \"vehicleType\", \"yearOfRegistration\", \"gearbox\", \"powerPS\", \"model\", \"kilometer\", \"monthOfRegistration\", \"fuelType\", \"brand\", \"notRepairedDamage\", \"dateCreated\", \"nrOfPictures\", \"postalCode\", \"lastSeen\"], \"values\": [[dc,na,sl,ot,at,vt,yr,gb,pp,mo,kl,mr,fl,br,nd,dt,np,pc,ls]]}]}\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":100,"wires":[["c1038f94.7f233"]]},{"id":"37b4620.f486b9e","type":"ui_text","z":"7dafb4c.a202b4c","group":"1327c703.3f1799","order":4,"width":0,"height":0,"name":"","label":"resale value","format":"{{msg.payload}}","layout":"row-spread","x":550,"y":260,"wires":[]},{"id":"74cdb47c.ce820c","type":"http request","z":"7dafb4c.a202b4c","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.bluemix.net/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":130,"y":260,"wires":[["9279a09c.7adcb","ae0ff0a6.6b3ab"]]},{"id":"ef520513.ae06e8","type":"debug","z":"7dafb4c.a202b4c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":610,"y":180,"wires":[]},{"id":"ae0ff0a6.6b3ab","type":"debug","z":"7dafb4c.a202b4c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":330,"y":380,"wires":[]},{"id":"1327c703.3f1799","type":"ui_group","z":"","name":"Default","tab":"a4399e92.86116","order":1,"disp":true,"width":"6","collapse":false},{"id":"a4399e92.86116","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]